.huebee, .huebee * { box-sizing: border-box; }

.huebee {
  position: absolute;
  padding: 10px;
  background: #EEE;
  border-radius: 5px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.3);
}

.huebee__canvas {
  display: block;
  cursor: pointer;
}

.huebee__cursor {
  position: absolute;
  left: 0px;
  top: 0px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  pointer-events: none;
}

.huebee__close-button {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -8px;
  right: -9px;
  border-radius: 12px;
  background: #222;
}

.huebee__close-button__x {
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
}

.huebee__close-button:hover {
  background: white;
  cursor: pointer;
}

.huebee__close-button:hover .huebee__close-button__x {
  stroke: #222;
}
